/* Anagram Hunt */

html, body {
    height: 100%;
    color: blue;
}
.main {
    min-height: calc(100% - var(--header-height) - var(--footer-height));
}


.button-width {
    max-width: 100px; /* adjust the value as needed */
  }
  