
/* HEADER */
nav {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid white;
  height: 60px;
  padding: 0 20px;
}

h1, .logo {
  color: white; 
  margin-bottom: -20px;
}

nav ul, .lower-nav {
  padding-left: 0;
  list-style: none;
  margin: 0;
  font-size: small;
}

nav li, .lower-nav li {
  display: inline-block;
}

nav a, .lower-nav a {
  display: block;
  padding: 0.1rem;
  text-decoration: none;
  color: white; 
  transition: color 0.3s ease;
}

nav a:hover, .lower-nav a:hover {
  color: rgb(4, 222, 55);
}

li.contains ul {
  display: none;
  position: absolute;
}

li.contains:hover ul {
  display: block;
  background: transparent;
}


li.contains li, .lower-nav li {
  float: left; 
  font-size: 0.9rem;
}

/* LOWER NAV */

hr {
  margin-top: 30px;
  margin-bottom: 3px;
  width: 60%;
}

.copyright {
  font-size: 11px;
  color: rgb(44, 28, 187);
}

.lower-nav {
  font-size: 16px;
  list-style: none;
}

.lower-nav a {
  text-decoration: none;
  color: black;
}

footer .lower-nav a,
footer .lower-nav a:visited {
  color: rgb(175, 22, 22);
  opacity: 0.6;
  padding: 0.3rem;
  text-decoration: none;
}

footer .lower-nav i {
  font-size: 2rem;
}

footer .lower-nav a:hover {
  opacity: 1;
  text-decoration: underline;
}

/*About*/

.aboutus,
.about {
  max-width: 80%;
  margin-top: 20px;
}

/*Login/Register*/

#login-container, #register-container {
  max-width: 500px; 
  width: 100%; 
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}


form {
  display: flex;
  flex-direction: column;
}

input[type="email"], input[type="password"] {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: rgb(42, 181, 24);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(111, 203, 155);
}

/* -- HOME STYLES -- */

#indexMain {
  display: block;
  padding: 20px;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  height: 370px;
  margin: auto;
  width: 1000px;
}


#quote {
  color: rgb(107, 82, 82);
  font-style: italic;
  background-color: #fff;
  padding: 10px; 
  border-radius: 5px; 
  height: 50%;
}


#author {
padding-top: 1rem;
position: absolute;
right: 25rem;
color: whitesmoke;
opacity: 75%;
}


/* GAMES SECTION */

#games {
margin-top: 5em;
margin-right: 12em;
margin-bottom: 1em;
display: grid;
grid-template-columns: 2fr 2fr;
grid-template-rows: 5rem 2fr;
}


#games article {
margin: 0.5rem;
padding: 0rem;
}

#games button {
margin-top: 0.5em;
margin-right: 10em;
float: right;
color: white;
background-color:  rgb(42, 181, 24);
border-radius: 0.5em;
font-size: small;
cursor: pointer;
}


#purpose {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4rem 1fr 1fr 1fr;
}

#purpose h2,
#purpose p,
#purpose ol {
  grid-column: 1 / 3;
}

#purpose p {
  text-align: center;
}

#purpose ol {
  margin: auto;
}

#purpose aside {
  grid-column: 3 / 4;
  grid-row: 1 / -1;
}

#purpose p.disclosure {
  grid-column: 2 / 3;
}

/* PURPOSE SECTION MID-SIZED SCREEN */

@media (max-width: 830px) {
  #purpose {
    display: block;
  }
}

/* PURPOSE SECTION SMALL SCREEN */

@media (max-width: 500px) {
  #purpose ol {
   width: 75%;
  }
}

/* Math Game */


  h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2em;
    color: black;
    margin-top: 0px;
  }
   

.green-box {
  background-color: rgb(42, 181, 24);
  color: white;
  padding: 10px;
  border: 1px solid white;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.input-field {
  width: 100px;
  margin-bottom: 10px;
}

.feedback {
  font-size: 24px;
  margin-top: 10px;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin: 10px;
}

#calculator {
  display: none;
}

.hidden {
  display: none;
}

.instructions {
  margin: 5px 0;
  padding: 0 10px;
  border: 1px solid white;
  border-radius: 5px;
  color: black
}

#score,
#time-left {
  font-weight: bold;
}

#score .val,
#time-left .val {
  text-decoration: underline;
  font-weight: normal;
}

#time-left {
  color: #471617;
}

#final-score {
  font-size: 40px;
  color: black;
}

#play-again {
  cursor: pointer;
}


